DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1

variables de entorno
rutas con nombres, básicamente

postgresql://gitpod@localhost:5432/example
base de datos basada en postgre, almacenada en mi local con el nombre example
evitar poner rutas o contraseñas en el dódigo, que luego estará en github
se definen en .env


